<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <nz-table #basicTable [nzData]="plans" [nzPageSize]="20" [nzShowPagination]="'false'">
        <thead>
            <tr>
                <th style="font-weight: bolder; color: #003973;">Name</th>
                <th style="font-weight: bolder; color: #003973;">Cost</th>
                <th style="font-weight: bolder; color: #003973;">Duration</th>
                <th style="font-weight: bolder; color: #003973;">Created date</th>
                <th style="font-weight: bolder; color: #003973;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plan of basicTable.data">
                <td style="font-weight:600 ;">{{plan.name}}</td>
                <td style="font-weight:600 ;">{{plan.cost}}</td>
                <td>{{plan.duration}} Days</td>
                <td>{{plan.creationDate | date: 'dd/MM/yyyy'}}</td>
                <td><button style="margin-left: 20px;" nzSize="small" nz-button nzType="primary"
                        routerLink="/user/subscribe_plan/{{plan.id}}" nzDanger>Subscribe Plan</button></td>
            </tr>
        </tbody>
    </nz-table>
</nz-spin>